{% extends "index.html" %}
{% load static%}

{% block css %}
<link rel="stylesheet" href="{% static 'css/department.css' %}">
{% endblock css %}

{% block content %}
<main style="margin-top: 150px;"> 

    <div class="container" style="margin-top: 150px; margin-bottom: 90px; background-image: url();background-repeat: no-repeat; background-size: cover;" >
        <div class="row" style="margin-top: 150px;">
          
            {% for d in dep  %}
            
            <div class="col-md-3 col-sm-6 hospital" >
                
                    <div class="image">
                        {% if d.image %}
                            <img src="{{d.image.url}}" class="img-fluid" alt="">
                        {% endif %}
                    </div>
                    <div class="name" style= "font-family:cursive">
                        <h4 style="font-weight: bold;">
                            {{d.name}} <br>
                           
                        </h4>
                        <h6>
                            <a href="{% url 'doctor' %}">Find doctors</a>
                        </h6>
                    </div>
                
    
            </div>
            {% endfor %}

            {% comment %} <div class="col-md-3 col-sm-6 hospital">
                
                    <div class="image">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSt1H8s_pWcSvJd7GPJIog79r2WNI9pUnViSQ&usqp=CAU" class="img-fluid" alt="" >
                    </div>
                    <div class="name">
                        <h4>
                            Cardiology dep
                        </h4>
                        <h6>
                            <a href="{% url 'doctor' %}">Find doctors</a>
                        </h6>
                    </div>
                
    
            </div>
            <div class="col-md-3 col-sm-6 hospital">
            
                    <div class="image">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYyVbH-McqZ4-Ui0TrDRHo56Bo4eP3_Q9SSQ&usqp=CAU" class="img-fluid" alt="" >
                    </div>
                    <div class="name">
                        <h4>
                            Nephrology dep
                        </h4>
                        <h6>
                            <a href="{% url 'doctor' %}">Find doctors</a>
                        </h6>
                    </div>
                
    
            </div>
            <div class="col-md-3 col-sm-6 hospital">
            
                    <div class="image">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTLpaGDul-Uu_X3T4G8crIBT5J_pKknKUIl7Q&usqp=CAU" class="img-fluid" alt="" >
                    </div>
                    <div class="name">
                        <h4>
                            Opthamology dep
                        </h4>
                        <h6>
                            <a href="{% url 'doctor' %}">Find doctors</a>
                        </h6>
                    </div>
                
    
            </div>
            <div class="col-md-3 col-sm-6 hospital">
                
                    <div class="image">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQG5lo4i3O_rGJOk-7x_x6s4JU1pB7EtIqQQA&usqp=CAU" class="img-fluid" alt="">
                    </div>
                    <div class="name">
                       <h4>
                        Dental dep
                       </h4>
                       <h6>
                        <a href="{% url 'doctor' %}">Find doctors</a>
                    </h6>
                    </div>
            
    
            </div>
            <div class="col-md-3 col-sm-6 hospital">
                
                    <div class="image">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSNFTdlZRxfS7oKC8Xv-2QsYucGnN4-H445kg&usqp=CAU" class="img-fluid" alt="">
                    </div>
                    <div class="name">
                        <h4>

                            Pedatric dep
                        </h4>
                        <h6>
                            <a href="{% url 'doctor' %}">Find doctors</a>
                        </h6>
                    </div>
                
    
            </div>
            <div class="col-md-3 col-sm-6 hospital">
                
                    <div class="image">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPJXAZ-Uar90vLiIq0qGkT_F78miHgcU9cug&usqp=CAU" class="img-fluid" alt="">
                    </div>
                    <div class="name">
                      <h4>
                        Orthopediac dep
                      </h4>
                      <h6>
                        <a href="{% url 'doctor' %}">Find doctors</a>
                    </h6>
                    </div>
                
    
            </div>
            <div class="col-md-3 col-sm-6 hospital" >
                
                    <div class="image">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRhg7Xfs0iAhLEevrROoq-tadm9VvHXreVl7g&usqp=CAU" class="img-fluid" alt="">
                    </div>
                    <div class="name">
                        <h4>
                            Gynecology dep
                        </h4>
                        <h6>
                            <a href="{% url 'doctor' %}">Find doctors</a>
                        </h6>
                    </div>
                
    
            </div>
     {% endcomment %}
        </div>
       </div>


    </div>


    <h1 style="display: flex; justify-content: center;  font-style: italic; color:darkcyan">Our Department</h1>
    <div     class=" riya" style="margin-top: 80px; margin-bottom: 90px; background-image: url(https://img.freepik.com/premium-photo/structure-molecule-communication-dna-atom-neurons-scientific-molecule-background-medicine-science-technology-chemistry-illustration_208588-1845.jpg?w=740); background-repeat: no-repeat; background-size: cover;" >
      
        <div class="row">
            
            <div class="col-md-6">
                <div class="first">
                    <h3>
                        <i class="fa-solid fa-brain"></i>
                        Neurology department

                    </h3>
                    <p>
                        MedCare Hospital's Neurology Department is dedicated to the diagnosis, treatment, and management of disorders affecting the brain, spinal cord, nerves, and muscles. Led by a team of highly skilled neurologists and supported by advanced technology</p>
                        <h3>
                            <i class="fa-solid fa-heart-pulse"></i>
                            Cardiology department

                        </h3>
                        <p>MedCare Hospital's Cardiology Department is dedicated to the prevention, diagnosis, and treatment of cardiovascular diseases. Led by a team of experienced cardiologists and supported by cutting-edge technology, our department offers comprehensive care for patients with various heart-related conditions.</p>
                    <h3>
                        <i class="fa-solid fa-user"></i>
                        Nephrology department

                    </h3>
                    <p>
                        MedCare Hospital's Nephrology Department specializes in the diagnosis and management of kidney-related conditions. Led by a team of skilled nephrologists, our department offers comprehensive care for patients with various kidney disorders</p>
                    <h3>
                        <i class="fa-regular fa-eye"></i>
                        Opthamology department</h3>
                    <p>
                        MedCare Hospital's Ophthalmology Department is dedicated to preserving and enhancing vision through comprehensive eye care services. Led by experienced ophthalmologists and equipped with state-of-the-art technology, </p>        
                </div>
            </div>
            <div class="col-md-6">
                <div class="second">
                    <h3>
                        <i class="fa-solid fa-tooth"></i>
                        Dental department</h3>
                    <p>
                        MedCare Hospital's Dental Department is committed to providing comprehensive dental care to patients of all ages. Our team of experienced dentists, hygienists, and support staff offer a wide range of services aimed at promoting oral healt</p>
                    <h3>
                        <i class="fa-solid fa-child"></i>
                        Pedatric department</h3>
                    <p>MedCare Hospital's Pediatric Department is dedicated to providing compassionate and comprehensive healthcare services for infants, children, and adolescents. Our team of board-certified pediatricians, nurses, and support staff</p>
                    <h3>
                        <i class="fa-solid fa-bone"></i>
                        Orthopediac department</h3>
                    <p>MedCare Hospital's Orthopedic Department is dedicated to providing comprehensive care for musculoskeletal conditions, encompassing bones, joints, muscles, ligaments, and tendons. Led by a team of experienced orthopedic surgeons, physiotherapists</p>  
                    <h3>
                        <i class="fa-solid fa-person-pregnant"></i>
                        Gynecology department</h3>
                    <p>MedCare Hospital's Gynecology Department is dedicated to providing comprehensive and compassionate care for women's reproductive health needs. Led by a team of experienced gynecologists, nurses, and support staff, our department offers a wide range of services</p>  
                </div>
            </div>

        </div>
    </div> 

</main>


{% endblock content %}
