{% extends "index.html" %}
{% load static%}

{% block css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock css %}



{% block content %}


        <main style="   background-image: url(); background-repeat: no-repeat; background-size: cover;">
           
            <!-- https://img.freepik.com/premium-photo/structure-molecule-communication-dna-atom-neurons-scientific-molecule-background-medicine-science-technology-chemistry-illustration_208588-1845.jpg?w=740 -->


            <div class="home" >


        <!-- <div class="container"  > -->
            <div class="row" style="margin-left: 10px; margin-top: 50px;" >
                <div class="col-md-6 heading" style="margin-top: 100px;" >
                    <h6 class="text-secondary">
                        we are here for you
                    </h6>
                    <h1 class="mb-4">
                        BEST CARE & <br>
                        BETTER DOCTORS
    
                    </h1>
                    <p class="mb-4">
                        
      Discover unparalleled healthcare at our hospital, where excellence is not just a commitment, but a way of life. Our unwavering dedication to "Best Care" sets us apart, ensuring that every patient receives top-notch medical attention, compassionate treatment, and personalized care
                    </p>
                    <div class="mb-4">
                    
                            <button  type="submit" class="btn btn-primary">
                                <a style="color: white; text-decoration: none;" href="{% url 'contact' %}">TAKE AN APPOINTMENT</a>
                            </button>
    
                    </div>
                </div>
                <div class="col-md-6 image" style="margin-top: 40px; margin-bottom: 80px;">
                    <img src="https://preview.colorlib.com/theme/medico/img/banner_img.png" class="img-fluid" alt="..."> 
                    
                   
    
    
                </div>
    
            </div>
    
        </div>
        <div class=" text-center"  >
            <div class="row">
                <div class="col">
                    <h2  style="font-size: 40px; font-family: 'Courier New', Courier, monospace; font-weight: bold; color:gray; text-decoration: wavy; font-style: italic; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);" class="mb-4">Our Services</h2> <!-- Centered text -->
                </div>
            </div>
    
        <div class=" " style="margin-top: 50px; margin-bottom: 50px;">
            <div class="row" style="gap: 0.3rem; justify-content: center;">
            
                
            </div>
           </div>
    
    
           <div class="mb-5">
            <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
              <div class="col-12 col-md-6 col-lg-4 ">
                <div class="p-3">
                    <div class="head service">
                        <h3>
                            <i class="fa-solid fa-truck-medical"></i>
                            Ambulance service
                        </h3>
                        <p >
                            
        MedCare Hospital provides comprehensive ambulance services, ensuring swift and efficient medical assistance in times of emergencies. Our fleet of fully equipped ambulances is staffed with highly trained medical professionals who are adept at handling critical situations with precision and care
                        </p>
                       
                    </div>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-4 ">
                <div class="p-3">
                    <div class="head service">
                        <h3>
                            <i class="fa-solid fa-stethoscope"></i>
                                Outdoor checkup
                        </h3>
                        <p>
                            MedCare Hospital offers outdoor checkup services designed to provide convenient and efficient medical care for patients. Our outdoor checkup facility allows patients to access primary healthcare services without the need for an inpatient stay. Experienced healthcare professionals conduct.
                        </p>
                       
                    </div>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-4 ">
                <div class="p-3">       <div class="head service">
                    <h3>
                        <i class="fa-solid fa-user-doctor"></i>
                            Qualified Doctors
                    </h3>
                    <p>Qualified doctors in Medcare are medical professionals who have completed extensive education and training in their respective fields of medicine. These doctors typically hold medical degrees from accredited institutions and have undergone specialized training, such as residencies and fellowships, to gain expertise in specific areas of healthcare.
                    </p>
                   
                </div></div>
              </div>
              <div class="col-12 col-md-6 col-lg-4 ">
                <div class="p-3">
                    <div class="head service">
                        <h3>
                            <i class="fa-solid fa-capsules"></i>
                            Good pharmacy services
                        </h3>
                        <p style="color:darkblue;">
                            
                            Pharmacy services encompass a broad range of essential functions aimed at facilitating safe and effective medication management for patients. These services are provided by trained pharmacists and pharmacy technicians in various healthcare settings, including hospitals, community pharmacies, clinics, and long-term care facilities.
                        </p>
                       
                    </div>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-4 ">
                <div class="p-3">
                    <div class="head service">
                        <h3>
                            <i class="fa-solid fa-x-ray"></i>
                            
    
                            
    
                            Diagnostic Services
                        </h3>
                        <p>
                            Diagnostic services at MedCare Hospital encompass a comprehensive range of medical tests and procedures aimed at accurately diagnosing various health conditions and guiding effective treatment plans. Equipped with state-of-the-art technology and staffed by skilled medical professionals, our diagnostic department ensures timely and precise results for patients
      
                        </p>
                       
                    </div>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-4 ">
                <div class="p-3">
                    <div class="head service">
                        <h3>
                            <i class="fa-solid fa-syringe"></i>
                            Surgical Services
                        </h3>
                        <p>
                            MedCare Hospital's surgical services provide comprehensive and compassionate care to patients requiring surgical intervention. Our team of experienced surgeons, nurses, and support staff is dedicated to delivering high-quality surgical care in a safe and comfortable environment. 
    
                        </p>
                       
                    </div>
                </div>
              </div>
             
        
                </div></div>
              </div>
       
            </div>
          </div>
    
    
        </div> 
    </div>

</main>



     {% endblock content %}