{% extends "admin/dash.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/admin/doc.css' %}">
{% endblock css %}

{% block content %}
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
        padding: 20px;
    }
    
    .container {
        max-width: 900px;
        margin: 0 auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-top: 50px;
 
    }
    
    .form-group {
        margin-bottom: 20px;
       
    }
    
    .form-group label {
        font-weight: bold;
        display: block;
        margin-bottom: 5px;
    }
    
    .form-group input[type="text"],
    .form-group input[type="email"],
    .form-group input[type="password"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    
    .checkbox-group {
        margin-top: 10px;
    }
    
    .checkbox-group label {
        display: block;
        margin-bottom: 10px;
    }
    
    .checkbox-group input[type="checkbox"] {
        margin-right: 5px;
    }
    
    .edit-tag {
        font-size: 12px;
        color: #666;
    }
    
    .submit-btn {
        background-color: #007bff;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    
    .submit-btn:hover {
        background-color: #0056b3;
    }
    .icon{
        color: darkslategray;
        font-size: 15px;
    }
    .container h3{
        text-align: center;
        color:cornflowerblue;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        
    }
</style>



<div class="container">
    <h3  style="margin-bottom: 35px;">PRESCRIPTION FORM</h3  >
    
            <form method="post" > {% csrf_token %}
               <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" placeholder="" readonly value="{{patient.name}}">
            <input type="text" id="name" name="id" hidden value="{{patient.id}}" placeholder="">
            
        </div>
        <div class="form-group">
            <label for="pres">Prescription:</label>
            <input type="text" id="pres" name="pres" placeholder="" style="height: 200px;">
        
        </div>
        <div class="form-group">
            <label for="file">File:</label>
            <input type="file" id="file" name="file" placeholder="">
            
        </div>
      
        <button type="submit" class="submit-btn">save</button>
        <!-- <input class="submit-btn" value="Generate PDF">
        <a href="{{ download_link }}">Download Prescription</a> -->
    </form>
</div>
{% endblock content %}