






{% extends "admin/dash.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/admin/doc.css' %}">
{% endblock css %}

{% block content %}

<h1>Appointments for Today</h1>
<table class="table table-bordered" style="margin-left: 30px; margin-top: 50px;">
    <tr style="gap: 10px; color:royalblue;">
        <th>ID</th>
        <th>Name</th>
        <th>Doctor</th>
        <th>Contact Number</th>
        <th>Place</th>
        <th>Action</th>
    </tr>
    {% for appointment in appointments_today %}
    <tr>
        <td>{{ appointment.id }}</td>
        <td>{{ appointment.name }}</td>
        <td>{{ appointment.doctors }}</td>
        <td>{{ appointment.number }}</td>
        <td>{{ appointment.place }}</td>
       
        <td>
            <a href="{% url 'pres' appointment.id  %}">
                <i class="fa-solid fa-file-circle-plus icon"></i>
            </a>
        </td>
    </tr>
    {% empty %}
    <tr>
        {% comment %} <td colspan="6">
            <h2 style="color: red; text-align: center;">No appointments for today</h2>
        </td> {% endcomment %}
        <h2 style="color: red; text-align: center;">No Appointments for today</h2>
    </tr>
    {% endfor %}
</table>
{% endblock content %}
